@model Cadasvan01.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Motorista</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome Completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            CPF
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            Cidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeId)
        </dd>
        <dt class = "col-sm-2">
            Endereço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            CNH
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNH)
        </dd>
        <dt class = "col-sm-2">
            Placa do veículo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
    </dl>
</div>

<div>
    <a asp-area="Admin" asp-controller="AdminListaMotoristas" asp-action="EditarMotorista" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-area="Admin" asp-controller="AdminListaMotoristas" asp-action="ListaMotoristas">Voltar para a Lista</a>
</div>