@model IEnumerable<Cadasvan01.Models.Usuario>

@{
    ViewData["Title"] = "Motoristas";
}

<h1>Motoristas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.Nome @user.Sobrenome</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-area="Admin" asp-controller="AdminListaMotoristas" asp-action="EditarMotorista" asp-route-id="@user.Id">Editar</a> |
                        <a asp-area="Admin" asp-controller="AdminListaMotoristas" asp-action="DetalhesMotorista" asp-route-id="@user.Id">Detalhes</a> |
                        <a asp-area="Admin" asp-controller="AdminListaMotoristas" asp-action="DeletarMotorista" asp-route-id="@user.Id">Deletar</a> |
                    </td>
                </tr>
        }
    </tbody>
</table>