@model IEnumerable<Cadasvan01.Models.ConfirmacaoDePresenca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="flex-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmadoPresencaIda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmadoPresencaVolta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataViagemConfirmada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmadoPresencaIda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmadoPresencaVolta)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DataViagemConfirmada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motorista.NomeCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConfirmacaoDePresencaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConfirmacaoDePresencaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConfirmacaoDePresencaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
