@model IEnumerable<Cadasvan01.Models.ConfirmacaoDePresenca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmadoPresencaIda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmadoPresencaVolta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataViagemConfirmada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmadoPresencaIda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmadoPresencaVolta)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DataViagemConfirmada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motorista.NomeCompleto)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ConfirmacaoDePresencaID" class="btn btn-outline-primary btn-sm">Editar</a>

                    <a asp-action="Details" asp-route-id="@item.ConfirmacaoDePresencaID" class="btn btn-outline-info btn-sm">Detalhes</a>

                    <a asp-action="Delete" asp-route-id="@item.ConfirmacaoDePresencaID" class="btn btn-outline-danger btn-sm">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
