@{
    ViewBag.IsIndex = true;
}
@model Cadasvan01.Areas.Aluno.Controllers.AlunoIndexViewModel


<a href="#" id="editarEnderecoLink" class="editar-endereco-link"><i class='bx bx-map'></i> @Model.Aluno.Endereco > </a>

<br/>

@if (Model.Motorista != null)
{
    <div class="containerConteudo infosMotorista-container">
        <div class="ConteudoHeader"> <h3>Motorista contratado</h3></div>
        <p>Veja as informações do seu motorista!</p>
       

        <a href="@Url.Action("InfosMotorista", "Aluno", new { id = Model.Motorista.Id, area = "Aluno" })" class="btnC btn-custom">
            Acessar</a>
    </div>

    <div>
        @await Html.PartialAsync("_PresencaAlunoPartial", new Cadasvan01.Models.Presenca { DataViagem = DateTime.Now.Date })
    </div>

    <a asp-area="Aluno" asp-controller="AlunoPresencas" asp-action="Index" class="btn btn-primary">Ver Histórico de Presença</a>



    <br />
    @Html.Partial("_AlunoAvisosPartial", Model.Avisos)

    <div id="viagemContainer" class="container-notificacao">
        <h2>Seu motorista não iniciou nenhuma viagem</h2>
    </div>
    <button id="verLocalizacaoBtn" style="display:none;" onclick="mostrarMapa()">Ver localização do motorista</button>

    <div id="map" style="width: 100%; height: 400px; display:none;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.0/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/viagemHub").build();

        connection.on("ReceberNotificacao", function (message) {
            var container = document.getElementById("viagemContainer");
            var verLocalizacaoBtn = document.getElementById("verLocalizacaoBtn");

            if (message === "Seu motorista iniciou uma viagem!") {
                container.innerHTML = "<h2>" + message + "</h2>";
                verLocalizacaoBtn.style.display = "block";
            } else {
                container.innerHTML = "<h2>Seu motorista não iniciou nenhuma viagem</h2>";
                verLocalizacaoBtn.style.display = "none";
                document.getElementById("map").style.display = "none";
            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: -23.55052, lng: -46.633309 }
            });

            var marker = new google.maps.Marker({
                position: { lat: -23.55052, lng: -46.633309 },
                map: map,
                title: 'Localização do Motorista'
            });

            // Atualizar a localização em tempo real
            setInterval(function () {
                fetch('/api/viagens/Localizacao?motoristaId=<MOTORISTA_ID>')
                    .then(response => response.json())
                    .then(data => {
                        marker.setPosition(new google.maps.LatLng(data.latitude, data.longitude));
                        map.setCenter(new google.maps.LatLng(data.latitude, data.longitude));
                    });
            }, 5000); // Atualiza a cada 5 segundos
        }

        function mostrarMapa() {
            document.getElementById("map").style.display = "block";
            initMap();
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt_3ASFjMiOuQ2M-51rB6UPVWGFxiYQgw&callback=initMap" async defer></script>


   }
else
{ 
    <div class="containerConteudo">
        <p>Você ainda não está vinculado a um motorista!</p>
        <a class="btnC btn-custom" asp-area="Aluno" asp-controller="AlunoCodigo" asp-action="VincularMotorista">Se vincule a um motorista</a>
    </div>
    }
<br />

<!-- Modal de Edição de Endereço -->
<div id="editarEnderecoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Endereço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editarEnderecoForm" method="post" asp-action="EditarEndereco" asp-controller="Aluno" asp-area="Aluno">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="CEP" class="form-control" value="@Model.Aluno.CEP" />
                    </div>
                    <div class="form-group">
                        <label for="endereco">Endereço</label>
                        <input type="text" id="endereco" name="Endereco" class="form-control" value="@Model.Aluno.Endereco" />
                    </div>
                    <div class="form-group">
                        <label for="complemento">Complemento</label>
                        <input type="text" id="complemento" name="Complemento" class="form-control" value="@Model.Aluno.Complemento" />
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="Bairro" class="form-control" value="@Model.Aluno.Bairro" />
                    </div>
                    <button type="submit" class="btnC btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#editarEnderecoLink').on('click', function (e) {
                e.preventDefault();
                $('#editarEnderecoModal').modal('show');
            });
        });
    </script>
}

