@model Cadasvan01.Areas.Aluno.Controllers.InfosMotoristaViewModel

<div>
    <h2>Informações do Motorista</h2>
    <hr />

    <div class="headerinfosMotorista">
        @if (Model.Motorista.CaminhoImagemPerfil != null)
        {
            <img src="@Model.Motorista.CaminhoImagemPerfil" alt="Foto de Perfil" class="profile-pic" />
        }
        else
        {
            <img src="~/images/default-profile.jpg" class="profile-pic" />
        }

        <div class="header-details">
            <h2>@Model.Motorista.Nome @Model.Motorista.Sobrenome</h2>
            <p>@Model.Motorista.Itinerario</p>
        </div>
    </div>
    <div class="containerConteudo modeloVan-container">

        <!--Avaliação-->
        <p>
            <strong><i class='bx bx-star'></i> Avaliação:</strong>
            @if (Model.MediaAvaliacoes > 0)
            {
                <a href="#" id="mediaAvaliacoesLink" data-toggle="modal" data-target="#mediaAvaliacoesModal" class="linksInfos">
                    @Model.MediaAvaliacoes.ToString("0.0") estrelas
                </a>
            }
            else
            {
            <p>Nenhuma avaliação foi feita ainda.</p>
            }
        </p>
        <hr/>

        <!--Vans-->
        <p>
            <strong><i class='bx bx-bus-school'></i> Vans: </strong>
            @if (Model.Motorista.Vans != null && Model.Motorista.Vans.Any())
            {
                <a href="#" id="modeloVanLink" data-toggle="modal" data-target="#modeloVanModal" class="linksInfos">
                    @Model.Motorista.Vans.FirstOrDefault(v => v.Modelo == Model.Motorista.VanSelecionada)?.Modelo <small class="anotacao">Ver vans ></small>
                    
                </a>
            }
            else
            {
            <p>Nenhuma van cadastrada.</p>
            }
        </p>
        <hr />

        <!--Itinerario-->
        <p><strong><i class='bx bx-map-alt'></i> Itinerário:</strong> @Model.Motorista.Itinerario</p>

        <hr />

        <p><strong><i class='bx bx-phone'></i> Telefone 1:</strong> @Model.Motorista.Celular1</p>
        @if (Model.Motorista.Celular2 != null && Model.Motorista.Celular2 != Model.Motorista.Celular1)
        {
            <hr />
            <p><strong><i class='bx bx-phone'></i> Telefone 2:</strong> @Model.Motorista.Celular2</p>
        }
    </div>


    @if (Model.Avaliacao != null && Model.Avaliacao.AvaliacaoEstrelas > 0)
    {
        <div class="containerConteudo avaliacaodada-container">
            <h4>Sua avaliação:</h4>
            <p class="avaliacao-estrelas">
                @for (int i = 0; i < Model.Avaliacao.AvaliacaoEstrelas; i++)
                {
                    <i class='bx bxs-star'></i>
                }
                @for (int i = Model.Avaliacao.AvaliacaoEstrelas; i < 5; i++)
                {
                    <i class='bx bx-star'></i>
                }
            </p>
            <p class="comentario"><strong>Comentário:</strong> @Model.Avaliacao.Opiniao</p>
            <button id="editarAvaliacaoBtn" class="btn btn-custom">Editar Avaliação</button>
        </div>
    }
    else
    {
        <button id="avaliarBtn" class="btnC btn-custom">Avaliar Motorista</button>
    }

    <button id="desvincularBtn" class="btnC btn-danger">Desvincular</button>
</div>

<!-- Modal de Média de Avaliações -->
<div id="mediaAvaliacoesModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Média de Avaliações</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo das avaliações -->
                @foreach (var avaliacao in Model.Motorista.AvaliacoesRecebidas)
                {
                    <p>
                        
                        @for (int i = 0; i < avaliacao.AvaliacaoEstrelas; i++)
                        {
                            <i class='bx bxs-star'></i>
                        }
                        - @avaliacao.Opiniao 
                        <br/>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal de Modelos de Vans -->
<div id="modeloVanModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modelos de Vans</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @foreach (var van in Model.Motorista.Vans)
                {
                    <h3>@van.Modelo</h3>
                    <div>
                        @if (!string.IsNullOrEmpty(van.Foto))
                        {
                            <img src="@van.Foto" alt="@van.Modelo" class="ImagemVan">
                        }
                        <p><strong>Modelo da van: </strong>@van.Modelo </p>
                        <p><strong>Cor da van: </strong>@van.Cor</p>
                        <p><strong>Placa da van: </strong>@van.Placa</p>
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal de Avaliação -->
<div id="avaliacaoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Avaliar Motorista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="avaliacaoForm" method="post" asp-action="AvaliarMotorista" asp-controller="Aluno" asp-area="Aluno">
                    <div class="form-group">
                        <label for="estrelas">Estrelas</label>
                        <select id="estrelas" name="AvaliacaoEstrelas" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="opiniao">Opinião</label>
                        <textarea id="opiniao" name="Opiniao" class="form-control" rows="4"></textarea>
                    </div>
                    <input type="hidden" name="MotoristaId" value="@Model.Motorista.Id" />
                    <button type="submit" class="btnC btn-custom" style="margin-top: 10px">Enviar Avaliação</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmação -->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja desvincular do motorista? Digite "Tenho certeza" abaixo para confirmar:</p>
                <input type="text" id="confirmInput" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmBtn" class="btnC btn-danger">Confirmar</button>
                <button type="button" class="btnC btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#avaliarBtn').on('click', function () {
                $('#avaliacaoModal').modal('show');
            });

            $('#editarAvaliacaoBtn').on('click', function () {
                $('#avaliacaoModal').modal('show');
                // Preencher o modal com os dados da avaliação existente
                var avaliacaoEstrelas = @Model.Avaliacao != null ? '@Model.Avaliacao.AvaliacaoEstrelas' : 'null';
                var opiniao = @Model.Avaliacao != null ? '@Model.Avaliacao.Opiniao' : 'null';

                if (avaliacaoEstrelas !== 'null' && opiniao !== 'null') {
                    $('#estrelas').val(avaliacaoEstrelas);
                    $('#opiniao').val(opiniao);
                }
            });

            $('#mediaAvaliacoesLink').on('click', function () {
                $('#mediaAvaliacoesModal').modal('show');
            });

            $('#modeloVanLink').on('click', function () {
                $('#modeloVanModal').modal('show');
            });

            $('#desvincularBtn').on('click', function () {
                $('#confirmModal').modal('show');
            });

            $('#confirmBtn').on('click', function () {
                var input = $('#confirmInput').val();
                if (input === "Tenho certeza") {
                    $('#desvincularForm').submit();
                } else {
                    alert("Você precisa digitar 'Tenho certeza' para confirmar.");
                }
            });
        });
    </script>
}

<form id="desvincularForm" method="post" asp-area="Aluno" asp-controller="AlunoCodigo" asp-action="DesvincularMotorista"></form>

<style>
    .ImagemVan {
        width: 100%;
        max-width: 300px; /* Tamanho máximo desejado */
        height: auto;
        object-fit: cover; /* Mantém a proporção da imagem */
        border-radius: 8px; /* Bordas arredondadas, se desejar */
        margin-bottom: 20px; /* Espaçamento inferior */
    }

    .linksInfos {
        color:orangered;
    }
    .anotacao{
        font-size:12px;
        color: gray;
    }
</style>
