@model Cadasvan01.Models.Presenca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Presenca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataViagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmaIda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmaIda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmaVolta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmaVolta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motorista.NomeCompleto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
