@model IEnumerable<Cadasvan01.Models.Presenca>

@{
    ViewData["Title"] = "Histórico";
    var alunosVinculados = ViewBag.AlunosVinculados as List<Cadasvan01.Models.Usuario>;
}

<h2>Histórico de Presenças:</h2>

<hr>

<form method="get" action="@Url.Action("Historico", "MotoristaPresencas", new { area = "Motorista" })">
    <div class="form-group selectAlunos">
        <label for="alunoId">Selecione o Aluno:</label>
        <select id="alunoId" name="alunoId" class="form-control">
            <option value="">Todos</option>
            @foreach (var aluno in alunosVinculados)
            {
                <option value="@aluno.Id">@aluno.Nome @aluno.Sobrenome</option>
            }
        </select>
    </div>

    <button type="submit" class="btnC btn-custom">Filtrar</button>
</form>

<div class="containerConteudo presencaAluno">
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Aluno</th>
                <th>Ida</th>
                <th>Volta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var presenca in Model)
            {
                <tr>
                    <td>@(presenca.DataViagem.ToString("dd/MM/yyyy"))</td>
                    <td>@Html.DisplayFor(modelItem => presenca.Usuario.Nome)</td>
                    <td class="text-center">
                        @if (presenca.ConfirmadoIda)
                        {
                            <span style="color: green;">&#x2714;</span>
                        }
                        else
                        {
                            <span style="color: red;">&#x2716;</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (presenca.ConfirmadoVolta)
                        {
                            <span style="color: green;">&#x2714;</span>
                        }
                        else
                        {
                            <span style="color: red;">&#x2716;</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<style>
    .table {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        border-radius: 15px
    }

        .table th,
        .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table th {
            background-color: transparent;
            color: #333;
            text-align: left;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #ddd;
        }

        .table .text-center {
            text-align: center;
        }

    .selectAlunos{
        max-width: 50%;
        border-radius: 20px
    }

    .presencaAluno{
        width: 600px
    }

</style>
